<section class="password-signup">
    <div class="password-signup__wrapper">
        <h1>Avant Foundry</h1>
        <p>We are a type foundry that creates variable typefaces for both Desktop and Web use. Our website is coming soon, and thank you for your support.</p>
        <div class="password--signup">
            <h2>Be the first to know when we go live.</h2>
            {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                {% else %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email"
                    name="contact[email]"
                    id="Email"
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                <button type="submit" name="commit" id="Subscribe" class="contained">
                    <span>{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
                {% endif %}
            {% endform %}
        </div>
        {% form 'storefront_password', class: 'form-single-field', style: 'margin-top: 64px' %}
            {%- assign formId = 'PasswordLoginForm' -%}
            <div class="input-group {% if form.errors %}input-group--error{% endif %}">
                <input type="password" name="password"
                    id="Password"
                    class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
                    placeholder="Early Bird Access Password"
                    data-login-field
                    autocomplete="off"
                    aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
                    {% if form.errors %}
                    data-error="password"
                    aria-invalid="true"
                    {%- endif -%}
                >
                    <button type="submit" name="commit" class="btn btn--narrow">
                    {{ 'general.password_page.login_form_submit' | t }}
                    </button>
            </div>
            {%- if form.errors -%}
            <span id="{{ formId }}-password-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
            </span>
            {%- endif -%}
        {% endform %}
    </div>

</section>